# Python files
__pycache__/
*.pyc

# Ignore sensitive files
h2optimize-firebase-adminsdk1.json

#ignore this
h2optimize-firebase-adminsdk.json

h2optimize-3b6cd-firebase-adminsdk-r5hdv-ae812be9e2.json
# Ignore virtual environment
venv/

